// ------------------------------
// font
// ------------------------------

.h-font--inter-noto {
    font-family: 'Inter', 'Noto Sans JP', sans-serif;
}

.h-font--noto {
    font-family: 'Noto Sans JP', sans-serif;
}

.h-font--inter {
    font-family: 'Inter', sans-serif;
}