// ------------------------------
// var
// ------------------------------

// ---------- size ----------
$site-w-min: 320px;
$site-w-pc: 1366px;
$site-w-sp: 375px;
$breakPoint: 768px;

// ---------- color ----------
$color-white: #fff;
$color-black: #000;

// ---------- ease ----------
$ease-1: ease-out;