// ------------------------------
// var
// ------------------------------

// ---------- size ----------
$site-w-min: 320px;
$site-w-pc: 1440px;
$site-w-sp: 375px;
$breakPoint: 768px;

$header-h-pc: 74px;
$footer-h-pc: 211px;

// ---------- color ----------
$color-white: #fff;

$color-gray01: #EEEEEE;
$color-gray02: #E3E3E3;
$color-gray03: #4E4E4E;
$color-gray04: #010101;
$color-gray05: #9E9E9E;

$color-black: #000;

$color-blue: #6783BA;
$color-orange: #E08735;
$color-pink: #F98064;

// ---------- ease ----------
$ease-1: ease-out;