// ------------------------------
// head
// ------------------------------

.c-head {
    
    &--h2 {
        @extend .c-text--h2;
        margin: 70px 0 65px;
        text-align: center;
    }

    &--h3 {
        @extend .c-text--h3;
        padding-left: 25px;
        position: relative;
        &:after {
            content: "";
            display: block;
            width: 5px;
            height: 31px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background: $color-blue;
        }

        &--orange {
            &:after {
                background: $color-orange;
            }
        }
    }
}

@media screen and (max-width: $breakPoint){}