-
    var metaData = {
        url: 'https://dummy.com/',

        title: 'タイトル',
        des: 'ディスクリプション',
        keywords: ['キーワード','キーワード'],
        author: 'クライアント名',
        canonical: 'https://dummy.com/',

        og: {
            title: 'OGタイトル',
            des: 'OGディスクリプション',
            url: 'https://dummy.com/',
            image: 'assets/images/common/ogp.jpg',
            siteName: 'サイト名',
            fbAppId: 'FacebookのApp-ID'
        },

        tw: {
            card: 'summary_large_image',
            site: '@Twitterユーザー名',
            title: 'Twitterタイトル',
            des: 'Twitterディスクリプション',
            image: 'assets/images/common/ogp.jpg'
        },

        favicon: 'assets/images/common/favicon.ico',
        appleIcon: 'assets/images/common/appleicon.png'
    };
-