extends ../../_template/_extend

block vars
    -
        var page = {
            root: '../',
            class: 'page-about'
        };
    -

block content

    +page-title({text: 'About Page', page: 'about'})