// ------------------------------
// inner
// ------------------------------

.l-inner{
    padding: 0 11.8%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

@media screen and (min-width: $site-w-pc+1){
    .l-inner{
        padding: 0 170px;
    }
}


@media screen and (max-width: $breakPoint){
    .l-inner{
        padding: 0 5.33%;
    }
}