mixin page-title(param)
    section.c-page-title(style="background-image: url(" + page.root + "assets/images/" + param.page + "/page-title_bg.jpg)")
        .l-inner 
            h1.c-text--h1.c-text--interBold !{param.text}